---
import { USERNAME } from "~/lib/github";
import { type Language } from "~/types/github/language";

type Props = {
  languages: Array<Language>;
};

const { languages } = Astro.props;
---

{
  languages.map((language) => (
    <a
      class="reveal inline-flex items-center rounded-full px-5 py-2 text-lg leading-5 font-medium transition-transform duration-300 ease-in-out hover:scale-110"
      href={`https://github.com/${USERNAME}?tab=repositories&language=${language.name.toLowerCase()}`}
      target="_blank"
      rel="noopener noreferrer"
      style={`color: ${language.contrastColor}; background-color: ${language.color}`}
    >
      {language.name}
    </a>
  ))
}
